<div class="home d-flex justify-content-center align-items-center text-white">
  <div class="text-center">
    <img
      src="https://img.freepik.com/free-vector/seasonal-sale-discounts-presents-purchase-visiting-boutiques-luxury-shopping-price-reduction-promotional-coupons-special-holiday-offers-vector-isolated-concept-metaphor-illustration_335657-2766.jpg?t=st=1723700780~exp=1723704380~hmac=8168a5d807e574b7d6fbbb54c35e33e8bc404553b4979f486e0cd636fdbd85c0&w=740"
      alt=""
      alt=""
      class="mb-3"
    />
    <div class="text-center pt-4" style="color: black">
      <h2 class="text-uppercase mb-3 fs-1 fw-bolder">WELCOME</h2>
    </div>
    <div><p>online shopping</p></div>
  </div>
</div>
